{% extends 'flatpages/default.html' %}


{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{% trans "NEWS PORTAL_Search" %}
{% endblock title %}

{% block content %}
    <h1>{% trans "News" %}</h1>
    <h5> {% trans "total news: " %}{{ news_len|length }} </h5>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value={% blocktranslate %}Search{% endblocktranslate %} />
   </form>

    <hr>
    {% if news %}
        <table>
            <tr>
                <td>{% trans "Header" %}</td>
                <td>{% trans "Date" %}</td>
                <td>{% trans "Preview" %}</td>
            </tr>
            {% for post in news %}
            <tr>
                <td>{{ post.header|censor }}</td>
                <td>{{ post.date_time|date:'d M Y' }}</td>
                <td>{{ post.text|censor|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
    {% else %}
        <h2>{% trans "No news" %}</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
